INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
install-sh
libfreesmartphone-glib.pc
libtool
ltmain.sh
m4
missing
.deps
.libs
*.lo
*.la
stamp-h1
src/common.c
src/common.h
src/dbus-marshal.c
src/dbus-marshal.h
src/errors.c
src/errors.h
src/ogsmd/call.c
src/ogsmd/call.h
src/ogsmd/dbus.h
src/ogsmd/dbus/
src/ogsmd/device.c
src/ogsmd/device.h
src/ogsmd/network.c
src/ogsmd/network.h
src/ogsmd/sim.c
src/ogsmd/sim.h
src/ogsmd/sms.c
src/ogsmd/sms.h
src/opimd/call.c
src/opimd/call.h
src/opimd/callquery.c
src/opimd/callquery.h
src/opimd/calls.c
src/opimd/calls.h
src/opimd/contact.c
src/opimd/contact.h
src/opimd/contactquery.c
src/opimd/contactquery.h
src/opimd/contacts.c
src/opimd/contacts.h
src/opimd/dbus.h
src/opimd/dbus/
src/opimd/fields.c
src/opimd/fields.h
src/ousaged/dbus.h
src/ousaged/dbus/
src/ousaged/usage.c
src/ousaged/usage.h
